@model JYP_Proyects.Web.Data.Entities.CAgentes_Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CAgentes_Venta</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a>|
    <a asp-action="Index" class=" btn btn-outline-warning">Back to List</a>
</div>
